.faq-item {
  &__summary {
    cursor: pointer;

    font-size: 25rem;
    line-height: 1.3;

    padding-right: 30rem;

    @media ($medium-q) {
      font-size: 30rem;
    }
  }

  &__text {
    position: relative;
    top: 15rem;

    font-size: 20rem;
    line-height: 28rem;
  }
}

.faq-item__summary {
  position: relative;
  // remove default summary triangle
  list-style-type: "";

  &::after {
    content: "Open";
    position: absolute;
    top: 0;
    right: 0;

    font-size: 0px;
    display: inline-block;
    width: 25rem;
    height: 25rem;

    transition: $transition;
    background-image: url("icons/plus.svg");
    background-position: center;
  }
}

.faq-item__details[open] .faq-item__summary {
  &::after {
    content: "Close";

    transform: rotate(45deg);
  }
}

.faq {
  margin: 70rem 0;
  position: relative;

  &__faq-item {
    position: relative;
  }

  &__bone {
    position: absolute;
    top: -140rem;

    height: 700rem;
    width: 100%;

    background-image: url("meshes/bone-3.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;

    z-index: -1;
  }

  &__spacer {
    display: inline-block;
    width: 100%;
    height: 2rem;

    margin: 40rem 0;

    background-color: #d9d9d9;
  }
}
