.feature {
  position: relative;
  background-color: var(--primary-light);
  border-radius: $border-radius;

  display: flex;
  flex-direction: column;

  @media ($medium-q) {
    flex-direction: row;
  }

  &__title {
    font-size: 30rem;
    line-height: 1.33;
    max-width: 70%;
  }
  &__text {
    font-size: 20rem;
    line-height: 1.4;
  }
  &__buttons {
  }
  &__button {
  }

  &__part {
    position: relative;
    left: 0;
    top: 0;

    display: flex;
    max-width: 833rem;
    min-height: 400rem;

    border-radius: $border-radius;
  }

  &__part_right {
    left: 540rem;
  }

  &__image-container {
    position: relative;
    flex-grow: 1;
  }

  &__image {
    position: absolute;
    top: 0;

    height: 100%;
    width: auto;

    object-fit: contain;
    object-position: left;

    border-radius: $border-radius;
  }
}
.features {
  &__container {
  }
}
