$feature-margin: 540rem;

.feature {
  position: relative;
  background-color: var(--primary-light);
  border-radius: $border-radius;

  display: flex;
  flex-direction: column;

  @media ($medium-q) {
    flex-direction: row;
  }

  &__title {
    font-size: 30rem;
    line-height: 1.33;
    max-width: 70%;
  }
  &__text {
    font-size: 20rem;
    line-height: 1.4;
  }
  &__buttons {
  }
  &__button {
  }

  &__part {
    position: relative;
    left: 0;
    top: 0;

    display: flex;
    width: 833rem;
    min-height: 480rem;

    border-radius: $border-radius;
    background-color: var(--primary-light);
  }

  &__part_right {
    left: $feature-margin;
  }

  &__image-container {
    position: relative;
    flex-grow: 1;
  }

  &__image {
    position: absolute;
    top: 0;

    height: 100%;

    object-fit: cover;
    object-position: left;

    border-radius: $border-radius;
  }

  &__text-content {
    max-width: $feature-margin - 70rem;
    padding-left: 70rem;
    display: flex;
    flex-direction: column;

    justify-content: center;

    > * {
      margin-bottom: 14rem;
    }
  }
  &__title {
    font-size: 30rem;
    line-height: 1.3;
  }
  &__text {
    font-size: 20rem;
  }
  &__button {
  }
}
.features {
  &__container {
  }

  &__feature {
    margin-bottom: 80rem;
  }
}
