.footer {
  &__container {
    display: flex;
    flex-direction: row;

    margin-top: 50rem;
    padding: 20rem 0;

    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
  }
  &__item {
    max-height: 60rem;
    width: fit-content;
  }
}
