@import "./features.scss";

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  max-width: 1200rem;
  padding: 0px 15rem;
  overflow: visible;
}

.wrapper {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.visually-hidden {
  height: 0px;
  width: 0px;
  font-size: 0px;
  overflow: hidden;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.round {
  border-radius: 9000px;
}

.ibg {
  position: relative;
  width: 100%;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14rem 15rem;
  border-radius: 9px;

  font-size: 14rem;
  width: fit-content;

  @media ($medium-q) {
    padding-left: 35rem;
    padding-right: 35rem;

    font-size: 16rem;
  }
}

.button_large {
  padding-left: 35rem;
  padding-right: 35rem;

  @media ($medium-q) {
    padding-left: 50rem;
    padding-right: 50rem;
  }

  @media ($large-q) {
    padding-left: 70rem;
    padding-right: 70rem;
  }
}

.button_primary {
  background: var(--gradient);
  color: var(--light);
}

.button_primary-transparent {
  border: solid var(--primary) 2rem;
  background-color: transparent;
}

.button_light {
  background-color: var(--light);
}

.section-title {
  display: block;
  margin: 25rem auto;
  font-size: 22rem;
  text-align: center;

  @media ($small-q) {
    font-size: 25rem;
  }
  @media ($medium-q) {
    font-size: 30rem;

    margin-top: 40rem;
    margin-bottom: 40rem;
  }

  @media ($large-q) {
    font-size: 40rem;

    margin-top: 70rem;
    margin-bottom: 70rem;
  }
}
