.statistics-item {
  max-width: 350rem;

  &__line {
    height: 5rem;
    width: 80%;

    background-image: var(--gradient);
    border-radius: 100rem;

    margin-bottom: 50rem;
  }

  &__line::before {
    $icon-size: 33rem;

    content: "";
    display: block;
    position: relative;

    top: -$icon-size - 5rem;

    width: $icon-size;
    height: $icon-size;

    background-image: url("icons/little-dot.svg");
  }
  &__title {
    font-size: 40rem;
    font-weight: 700;

    margin-bottom: 25rem;
  }
  &__text {
    font-size: 20rem;
    padding-right: 20rem;
  }
}

.statistics {
  position: relative;
  margin: 100rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {
    margin-bottom: 100rem;
  }

  &__bone {
    position: absolute;
    top: -200rem;

    background-image: url("meshes/bone-2.svg");
    background-repeat: no-repeat;

    background-position-x: center;
    background-position-y: top;

    width: 3000rem;
    height: 700rem;

    z-index: -1;
  }

  &__square {
    position: absolute;
    right: -180rem;
    bottom: -100rem;

    height: 266rem;
    width: 266rem;

    background-image: url("meshes/dots-in-square.svg");
    background-repeat: no-repeat;
  }
}
